
<div class="ui link cards card-container">

  <div class="card">
    <div class="image">
      <%= image_tag("people.png") %>
    </div>
    <div class="content">
      <div class="header">Employee Directory</div>
      <div class="description">
        View a list of all current employees.
      </div>
    </div>
    <!-- <div class="extra content"> -->
      <!-- <span>
        <i class="user icon"></i>
        75 Friends
      </span> -->
    <!-- </div> -->
  </div>



  <div class="card">
    <div class="image">
      <%= link_to image_tag("project.png"), projects_path %>
    </div>
    <div class="content">
      <div class="header"><a href="<%= projects_path %>">Project Directory</a></div>
      <div class="description">
        View a list of all current projects.
      </div>
    </div>
    <!-- <div class="extra content"> -->
      <!-- <span>
        <i class="user icon"></i>
        75 Friends
      </span> -->
    <!-- </div> -->
  </div>



  <div class="card">
    <div class="image">
      <!-- <img src="ticket.png" alt="ticket icon"> -->
      <%= image_tag("ticket.png") %>
    </div>
    <div class="content">
      <div class="header">Ticket Directory</div>
      <div class="description">
        View a list of all current tickets.
      </div>
    </div>
    <!-- <div class="extra content"> -->
      <!-- <span>
        <i class="user icon"></i>
        75 Friends
      </span> -->
    <!-- </div> -->
  </div>


</div>
