<h1 class="page-headline">Ticket Directory</h1>

<ul>

    <% @tickets.each do |ticket| %>
      <li class="list-item"> <%= link_to ticket.name.titleize, ticket %> <a href="<%= edit_ticket_path(ticket) %>"><i class="far fa-edit"></i></a> </li>
        <% if logged_in_as_manager?(Employee.find_by(id: session[:employee_id]).manager_id) %>
        <% end %>
    <% end %>

</ul>


<% if logged_in_as_manager?(Employee.find_by(id: session[:employee_id]).manager_id) %>
  <button class="ui button"><a href="<%= new_ticket_path %>">New Ticket</a></button>
<% end %>
